@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
body {
	font-family:droid arabic kufi;
	background:url(../images/texture1.jpg);
	background-repeat:repeat;
}
.login {
	width:400px;
	margin:0 auto;
	background:white;
	border-radius:7px;
			border:1px solid #e7e7e7;
			padding:20px;
}
.login input.name {
	width:100%;
	height:40px;
}
input.gemy-check {
	float:right;
	margin-left:10px;
}
p.rember {
	margin-top:11px;
}
.login label {
	margin-bottom:10px;
}
.login .btn {
	padding: 6px 162px;
}
label , textarea , input.input-data {
	display:block;
}
textarea , input.input-data , select {
	width:60%
}
textarea {
	height:250px;
}
input , select {
	height:35px;
}
input.check {
	display:inline-block;
	margin-left:7px;
}
.btn {
	padding:6px 29px;
}
ul {
	padding:0px;
	margin:0px;
	list-style:none;
}
.cleaner-h1 {clear:both; height:10px;}
.cleaner-h2 {clear:both; height:20px;}
.cleaner-h3 {clear:both; height:30px;}
.cleaner-h4 {clear:both; height:40px;}
.cleaner-h5 {clear:both; height:50px;}
.header {
	background:#292929;
	width:100%;
}
.menu-first ul li {
	display:inline-block;
	margin-left:20px;
}
.menu-first ul li a {
	color:#999999;
}
.menu-first ul li.social a i{
	background:#454545;
	padding:7px;
	border-radius:17px;
}
.menu-first ul li:first-child {
	margin-right:70px;
	margin-bottom:15px;
}
.menu_main {
	width: 100%;
	height: 61px;
	background:#f8f8f8;
	border:1px solid #e7e7e7;
}
.navbar-nav li a {
	color:#915757;
}
.img-cir {
	margin-right:80px;
	margin-top:15px;
	width:40%;
	background:white;
	height:100px;
	border-radius:500px;
		border:1px solid #e7e7e7;
		transition:all 1s;
}
.img-cir:hover {
	background:#4c4c4c;
}
.img-cir img {
	margin-top:15px;
}
.gemy h3 a {
	color:#333333;
	font-size:20px;
}
.navbar-brand, .navbar-nav > li > a {
	margin-left:15px;
}
.footer {
	background:#292929;
	width:100%;
	height:40px;
}
.footer a {
	color:white;
	font-weight:bold;
	line-height:40px;
}
@media only screen and (max-width:995px ) {  
.logo {
	margin-right:27%;
	margin-bottom:30px;
}
.menu-first  {
	margin:0px !important;
	float:none !important;
}
.menu-first ul {
}
.menu-first ul li {
	margin:0px !important;
	display:block !important;
	line-height:40px;
}
.menu-first ul li {
	font-weight:bold;
}
.menu-first ul li a{
	color:white;
}
.menu-first ul li.social a i {
	margin-left:20px;
	color:white;
}
.colaspse-gemy {
	background:white;
	z-index:999 !important;
}
.navbar-nav > li > a {
	color:black !important;
	font-weight:bold;
}
.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown {
    position:relative !important;
	background:#464646;
}
.yamm .container {
    position:absolute !important;
}
.navbar-brand, .navbar-nav > li > a {
	color:white !important;
}
.btn {
	margin-bottom:10px;
}
.img-cir {
	margin-right:30%;
}
textarea, input.input-data, select {
	width:100%;
}
.navbar-toggle {
	padding:19px 17px !important;
	margin:0px !important;
}
.navbar-toggle > button {
	color::white !important;
		margin-left:10px !important;
}
}